<!-- QUOTES FORM -->
<div>
    <h5 class="text-center">Find out how popular your quote is!</h5>
    <hr>
    <form>
        <div class="form-group">
            <label for="insertQuote">Insert Quote</label>
            <textarea class="form-control" placeholder="Insert your quote here" required></textarea>
        </div>
        <div>
            <div class="form-group">
                <!-- quoteAuthorName -->
                <label for="quoteAuthorName">Quote Author Name</label>
                <input class="form-control" type="text" placeholder="Insert Quote Author's Name" required>
            </div>

            <div class="form-group">
                <!-- submittedByInput -->
                <label for="submittedBy">Submitted By</label>
                <input class="form-control" type="text" placeholder="Insert your name here" required>
            </div>
        </div>

        <button class="btn btn-outline-dark btn-change" type="submit" (click)='submitQuote()'>Submit</button>

    </form>
</div>