.quoteDisplayDiv {
    background-color: rgba(255, 255, 255, 0.7);
}

blockquote {
    font-size: 1.4em;
    margin: 20px auto;
    color: #333;
    padding: 1.2em 30px 1.2em 70px;
    border-left: 8px solid #3551C7;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
}

blockquote::before {
    content: "\201C";
    color: #3551C7;
    font-size: 4em;
    position: absolute;
    left: 3px;
    top: -10px;
}

blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
}

.submittedBy {
    display: block;
    color: #333333;
    font-style: normal;
    margin-top: 1em;
}

.vote {
    display: flex;
    justify-content: space-between;
}

.circular {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

a.circular {
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

a.circular:hover {
    opacity: 1;
}

.btn-downVote {
    background-image: url(../../assets/downVote.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.btn-upVote {
    background-image: url(../../assets/upVote.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}