<!-- <div class="row justify-content-center">
    <div *ngFor='let quote of quotes' class="col-md-4 quoteDisplayDiv">
        <div>
            <div> {{quote.quote}}</div>
            <div> ~{{quote.author}} </div>
            <div> Submitted By: {{quote.submittedBy}} </div>
        </div>
    </div>
</div> -->

<!-- <div class="row justify-content-center"> -->
<div class="col-lg-4">
    <div>
        <blockquote>
            Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't
            <span>~Steve Jobs</span>
            <p class="submittedBy">Submitted by: Stl SuperG</p>

            <div class="vote">
                <!-- downvote -->
                <a href="#" class="btn-downVote circular"></a>

                <!-- upvote -->
                <a href="#" class="btn-upVote circular"></a>
            </div>

        </blockquote>

    </div>
</div>


<!-- </div> -->