<div class="row">
    <div class="col-lg-4" *ngFor='let quote of quotes'>
        <div>
            <blockquote>
                <p class="quoteHeight">{{quote.quote}}</p>

                <span>~{{quote.author}}</span>

                <p class="submittedBy">Submitted by: {{quote.submittedBy}}</p>
                <p class="submittedBy">Published: {{quote.date|dateCount}}</p>
                <p class="submittedBy">on: {{quote.date|date}}</p>
                <div class="vote">

                    <!-- downvote -->
                    <div class="flex-direction-row">
                        <a (click)='downVote(quote)' class="btn-downVote circular"></a>
                        <p class="voteCaption">{{quote.downvote}} dislikes</p>
                    </div>

                    <!-- upvote -->
                    <div class="flex-direction-row">
                        <a (click)='upVote(quote)' class="btn-upVote circular"></a>
                        <p class="voteCaption">{{quote.upvote}} likes</p>
                    </div>
                </div>

                <!-- delete quote button -->

                <button (click)='quoteDelete(true)' class="btn btn-outline-danger btn-sm"> Delete</button>

            </blockquote>

        </div>
    </div>
</div>
<!-- {{quotes|json}} -->