<div class="homePage text-center">
    <header class="navbar navbar-expand-lg">
        <!-- <a href="#"><img src="../../assets/QuotesAppLogo.png " class="logoImage navbar-brand" alt="Good Vibes Logo"></a> -->
        <p class="slogan navbar-text display-4">It's a good day to have a good day!</p>
    </header>

    <p class="firstPgh">Share your favorite quotes and get your friends to vote on them!</p>

    <button class="btn btn-outline-dark btn-change addQuote" type="button">Add Quote</button>

</div>