.homePage {
    width: 100vw;
    height: 150px;
    background-image: url(../../assets/homeBgImg1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #333;
    font-family: 'Courgette', cursive;
    justify-content: space-evenly;
}

.logoImage {
    width: 150px;
    height: 150px;
}

.slogan {
    font-weight: 900;
}