.homePage {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/homeBgImg1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #333;
    font-family: 'Courgette', cursive;
}

.slogan {
    font-weight: bold;
    font-size: 3vw;
    line-height: 2em
}

.firstPgh {
    font-size: 2.5vw;
    background-blend-mode: color;
    line-height: 2em;
}

.addQuote {
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 27px;
    font-weight: bold;
}

.popUpFormBg {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.quoteFormDisplay {
    width: 50%;
    height: 70%;
    background-color: #ECECEC;
    text-align: center;
    position: relative;
    padding: 20px;
    border-radius: 5px;
}

.quotesDisplay {
    margin-top: 20px;
}

.footer {
    width: 100vw;
    height: 10vh;
    background: black;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}