<div class="homePage text-center">
    <header class="navbar navbar-expand-lg">
        <!-- <a href="#"><img src="../../assets/QuotesAppLogo.png " class="logoImage navbar-brand" alt="Good Vibes Logo"></a> -->
        <h3 class="slogan navbar-text">It's a good day to have a good day!</h3>
    </header>

    <p class="firstPgh">Share your favorite quotes and get your friends to vote on them!</p>

    <button class="btn btn-outline-dark btn-change addQuote" type="button">Add Quote</button>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <app-quotes-form></app-quotes-form>
        </div>
    </div>

</div>