<div class="homePage text-center container-fluid">

    <!-- Landing Page -->

    <div class="row justify-content-center">
        <div class="col-lg-12">

            <h3 class="slogan navbar-text">It's a good day to have a good day!</h3>

            <p class="firstPgh">Share your favorite quotes and get your friends to vote on them!</p>

            <button class="btn btn-outline-dark btn-change addQuote" type="button" (click)='addQuote()'>Add Quote</button>

        </div>
    </div>


    <!-- Quote Display Div -->

    <div class="quotesDisplay">
        <app-quote-display (emitdownVote)='downVote($event)' (emitupVote)='upVote($event)' [quotes]='quotes' (isHide)='deleteQuote($event)'></app-quote-display>
    </div>

    <!-- Quote Form Div -->

    <div class="popUpFormBg" *ngIf='showForm'>
        <div class="row justify-content-center quoteFormDisplay">
            <div class="col-lg-7">
                <app-quotes-form (emitNewQuote)='submitData($event)' (showForm)='hideForm()'></app-quotes-form>
            </div>
        </div>
    </div>


    <!-- footer -->

    <div class="footer row">
        Developed by RK Nyra &copy;September, 2019
    </div>
</div>